Package: com.tungtung801.26lockdim
Name: 26LockDim
Version: 0.2.17
Architecture: iphoneos-arm64
Description: Lock Screen notification background dimming and iOS 27 unified battery icon
Maintainer: tungtung801
Author: tungtung801
Section: Tweaks
