<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>enabled</key>
    <true/>
    <key>stickyClock</key>
    <true/>
    <key>maxAlpha</key>
    <real>0.48</real>
    <key>roundBatteryEnabled</key>
    <true/>
    <key>noBatteryGapEnabled</key>
    <true/>
    <key>batteryOutsideRadius</key>
    <real>3.8</real>
    <key>batteryInsideRadius</key>
    <real>2.8</real>
    <key>debug</key>
    <true/>
</dict>
</plist>
